$content-font-color: #333;
$medium-font-color: #666;
$light-font-color: #999;
$content-notice-font-color: #7f7f7f;
$content-bg-color: #f1f1f1;
$search-bg-color: #f5f5f5;
$search-font-color: #b7b7b7;
$bgColor: #fff;
$highlight-font-color: #e93b3b;
$btn-color: #0091ff;
